.shadow-top-prototype (@shadow-color: #65426c) {
    -webkit-box-shadow:  0 -4px 2px -1px @shadow-color;
       -moz-box-shadow:  0 -4px 2px -1px @shadow-color;
            box-shadow:  0 -4px 2px -1px @shadow-color;
}

.shadow-bottom-prototype (@shadow-color: #65426c) {
    -webkit-box-shadow:  0 4px 2px -1px @shadow-color;
       -moz-box-shadow:  0 4px 2px -1px @shadow-color;
            box-shadow:  0 4px 2px -1px @shadow-color;
}

.shadow-bottom {
	.shadow-bottom-prototype;
}

.shadow-top {
	.shadow-top-prototype;
}

#registration {
	.shadow-bottom-prototype(@shadow-color: #0a394d)
}