html {
    border: 0 none;
    margin: 0;
    padding: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    line-height: 1.5;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    float: none !important;
    font-weight: normal;
    text-align: left;
}
table, th, td {
    vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: medium none;
}
:focus {
    outline: 0 none;
}
html {
    font-size: 100.01%;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6 {
    color: #303030;
    text-shadow: 0 1px 0 #FFFFFF;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2.4em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.8em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.4em;
    line-height: 1;
    margin-bottom: 1em;
}
h5 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}
h6 {
    font-size: 1.1em;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
p {
    margin: 0 0 1em;
}
.left {
    float: left !important;
}
p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
.right {
    float: right !important;
}
p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
a {
    color: #007FCB;
    text-decoration: underline;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline;
}
blockquote {
    color: #666666;
    font-style: italic;
    margin: 1.5em;
}
strong, dfn {
    font-weight: bold;
}
em, dfn {
    font-style: italic;
}
sup, sub {
    line-height: 0;
}
abbr, acronym {
    border-bottom: 1px dotted #666666;
}
address {
    font-style: italic;
    margin: 0 0 1.5em;
}
del {
    color: #666666;
}
pre {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt {
    font: 1em/1.5 'andale mono','lucida console',monospace;
}
li ul, li ol {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
ol {
    list-style-type: decimal;
}
dl {
    margin: 0 0 1.5em;
}
dl dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
label {
    font-weight: bold;
}
fieldset {
    border: medium none;
    margin: 0 0 15px;
    padding: 0;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: -0.2em;
}
fieldset, #IE8#HACK {
    padding-top: 0;
}
legend, #IE8#HACK {
    margin-bottom: 0;
    margin-top: 0;
}
input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea {
    background-color: #FFFFFF;
    resize: none;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="email"]:focus, input.text:focus, input.title:focus, textarea:focus {
    border-color: #CBCBCB;
}
select {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
input.text, input.title {
    padding: 5px;
    width: 300px;
}
input.title {
    font-size: 1.5em;
}
textarea {
    height: 250px;
    padding: 5px;
    width: 390px;
}
form.inline {
    line-height: 3;
}
form.inline p {
    margin-bottom: 0;
}
hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 1px;
    margin: 0 0 17px;
    width: 100%;
}
hr.space {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    visibility: hidden;
}
hr.space-line {
    background: none repeat scroll 0 0 #CBCBCB;
    color: #CBCBCB;
}
.clearfix:after, .container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix, .container {
    display: block;
}
.clear {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.overflow, .ofh {
    overflow: hidden;
}
.watermark {
    color: #A2A2A2 !important;
}
.watermark2 {
    color: #A2A2A2 !important;
    font-style: italic !important;
}
.watermark3 {
    color: #A2A2A2 !important;
}
input:-moz-placeholder {
    color: #A2A2A2;
}
