@font-face {
    font-family: PF	Agora Sans; 
    src: url(/fonts/PFAgoraSansPro-Reg.ttf);
}

@font-face {
    font-family: PF	Agora Sans Bold; 
    src: url(/fonts/PFAgoraSansPro-Bold.ttf);
}

@font-face {
    font-family: PF	Agora Sans Thin;
    src: url(/fonts/PFAgoraSansPro-Thin.ttf);
}

@font-face {
    font-family: PT Sans;
    src: url(/fonts/PT_Sans.ttf);
}

@font-face {
    font-family: PT Sans Bold;
    src: url(/fonts/PT_Sans_Bold.ttf);
}

body {
	-webkit-font-smoothing: none;
	/*background: url(/img/all-index-page1260x.jpg) no-repeat;*/
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
}

/*Меню*/
.left-strip-container {
	border: none;
	background: #0080b5;
	height: 100%;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 1;
}

.logo-container {
	width: 169px;
	height: 130px;
	padding: 24px 0 0 71px;
	background: none;
}

.left-menu-container {
	width: 201px;
	height: 250px;
	padding: 74px 0 0 38px;
	background: none;
}

.left-menu {
	list-style-type: none;
}

.left-menu a {
	text-decoration: none;
	font-family: PT Sans;
	font-size: 18px;
	line-height: 54px;
	color: #e5e5e5;
}

#registration {
	background: #fff;
 	height: 20px;
    margin: 21px 0 0 38px;
    padding: 11px 0 17px;
    text-decoration: none;
    display: block;
    width: 164px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #0080b5;
    border: none;
   	font-family: PT Sans, sans-serif;
   	font-size: 18px;
   	border-radius: 4px;
}

.social-nets-btn-container {
 	height: 50px;
    margin: 64px 0 0;
    padding: 18px 0 0 34px;
    width: 206px;
}

.social-nets-btn-container a {
	background: url("/img/social-network-button-sprite.png") no-repeat;	
	height: 37px;
    width: 37px;
	display: inline-block;
	margin: 0px 0px 0px 4px;
}

.twitter-btn {
	background-position: 0px 0px !important;
	margin: 0px !important;
}

.facebook-btn {
	background-position: -44px 0px !important;
}

.vk-btn {
	background-position: -89px 0px!important;
}


/**/

.head-in {
	width: 1021px;
	height: 698px;
	border: 1px solid #fff;
	padding: 0px 0px 0px 238px;
	opacity: 1;
	background: #f4f2ed;
}

#head-top-container {
	width: auto;	
	height: 341px;
}

.head h3 {
	color: #0080b5;
	font-size: 62px;
	font-weight: bold;
	margin: 0;
	font-family: PF	Agora Sans Bold;

}

#head-title-container {
	padding: 39px 0 0 45px;
	width: 550px;
	float: left;
}

#head-description {
	margin: 15px 0px 0px 0px;
}

#head-description>span {
	color: #0080b5;
	font-size: 39px;
	line-height: 39px;
	font-weight: 100 !important;
	font-family: PF	Agora Sans Thin;
}

#personage-container {
	background: url("/img/index-personage.jpg") no-repeat scroll 0px 34px;
	width: 350px;
	float: right;
    height: 100%;
    margin: 0 60px 0 0;
}

#index-login {
	background: #e7e4de;
 	height: 31px;
    margin: 31px 0px 0px 0px;
    padding: 20px 37px 17px 22px;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #cb0030;
    border: none;
   	font-family: PT Sans Regular, sans-serif, Arial;
   	font-size: 21px;
}

#index-login>p {
	display: inline-block;
	margin: 0 0 0 9px;
}

#index-login>img {
	display: inline-block;
	margin: -6px 8px 0;
	vertical-align: middle;
}

#head-video {
	width: 636px;
	height: 358px;
	border: none;
	background: url("/img/video-preview.jpg") no-repeat scroll 0 0 transparent;
	line-height: 367px;
	text-align: center;
	float: left;

}

.video-play {
	width: 100px;
	height: 100px;
	margin: 0px auto;
	vertical-align: middle;
}

#head-bottom-container {
	height: 358px;
	position: relative;
	background: #7d4aa0;
	opacity: 1;
}

#invite-form {
    float: right;
    font-size: 31px;
    height: 300px;
    line-height: 33px;
    padding: 33px 56px 0 0;
    width: auto;
}

#invite-form>span {
	color: #ffffff;
	font-family: PF	Agora Sans, sans-serif;
	font-size: 31px;
}

#invite-form>form>input {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #6E6E6E;
    font-family: PF	Agora Sans !important;
    font-size: 22px;
    font-style: italic;
    height: 56px;
    margin: 35px 0 0;
    padding: 3px 2px 4px 15px;
    width: 241px;
}

#send-invite {
    background: none repeat scroll 0 0 #ED0030;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: PT Sans,sans-serif;
    font-size: 29px;
    height: 25px;
    margin: 26px 0 0;
    padding: 18px 27px 24px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 204px;
}

#benefits-container {
	width: 1021px;
	height: 700px;
	border: none;
	/*margin: 0 auto;*/
	padding: 0px 0px 0px 238px;
	opacity: 1;
}

.benefit {
	width: 33.333%;
	height: 700px;
	border: none;
	float: left;
	position: relative;
	padding: 0;
	font-family: PF	Agora Sans,sans-serif;
	color: #2a2828;
}

.benefit>div {
	display: block;
	margin: 195px 0px 0px 0px;
	width:100%;
}

.benefit>div>img {
	display: block;
	margin: 0 auto;
}

.benefit>div>h3 {
	width: 100%;
	text-align: center;
	font-family: PF	Agora Sans Bold;
	font-size: 22px;
	margin: 23px 0px 0px 0px;
}

.benefit>div>p {
	font-size: 14px;
	margin: 28px auto;
    width: 257px;
}

#ambitions {
	background: #e7e4de;
}

#business {
	background: #f4f2ed;
}

#communication {
	background: #fff;
}

#benefits-title {
	position: absolute;
	top: 36px;
	left: 61px;
	font-family: PF	Agora Sans Thin;
	color: #0080b5;
	font-size: 39px;
}

#about-project {
	height: auto;
	opacity: 0.8;
	padding: 0 0 0 238px;
	width: 1021px;
}

#about-project-head {
	padding: 46px 0 0 63px;
	width: auto;
	height: 200px;
	background: url("/img/logo-for-background.png") repeat scroll 15px 10px;
}

#about-project h1 {
	font-family: PF	Agora Sans Thin;
	font-size: 39px;
	color: #fff;
	margin-bottom: 26px;
}

#about-project span {
	color: #ececec;
	font-size: 16px;
	font-family: PF	Agora Sans;	
	line-height: 23px;
}

#about-project-screens {
	height: 465px;
	width: auto;
}

.screen {
	float: left;
    position: relative;
    width: 340px;
    height: 230px;
}

#news-external-container {
	height: 685px;
	padding: 0 0 0 238px;
	width: 1021px;
	opacity: 0.8;
}

#news-header {
	background: #e7e4de;
	height: 110px;
	width: auto;
	padding: 31px 0px 0px 0px;
 }

 #news-header h1 {
 	font-family: PF	Agora Sans Thin;
	font-size: 39px;
	color: #050505;
	width: 100%;
	text-align: center;
	margin: 0 0 28px;
 }

 #news-ul-container {
 	display: block;
 	margin: 0 auto;
 	width: 381px;
	opacity: 0.8;
 }

#news-ul-container>ul>li {
	color: #0080B5;
    float: left;
    font-family: PT Sans;
    font-size: 20px;
    list-style: none outside none;
    
}

#news-ul-container>ul>li>a {
    background: none;
    text-decoration: none;
    padding: 11px 33px 10px;
}

#news-ul-container>ul>li.active>a {
	font-family: PT Sans Bold;
	color: #2a2828;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
}

.news-category-container {
	width: 100%;
	height: 400px;
	border: none;
	display: none;
}

.news-category-container.active {
	display: block;
} 

.news-container {
	width: 33.334%;
	height: 550px;
	border: none;
	float: left;
}

.news-container>div {
    height: 100%;
    margin: 36px auto;
    width: 260px;
    color: #050505;
}

.news-container span {
	font-family: Myriad Pro;
	font-size: 14px;
	margin: 9px 0 9px 0px;
	display: block;
}

.news-container h3 {
	font-family: PF	Agora Sans Bold;
	font-size: 20px;
}

.news-container p {
	font-family: PF	Agora Sans;
	font-size: 14px;	
}

.news-container a {
    background: none repeat scroll 0 0 #E7E4DE;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #CB0030;
    cursor: pointer;
    display: block;
    font-family: PT Sans;
    font-size: 16px;
    height: 15px;
    margin: 19px 0 0;
    padding: 4px 6px 15px 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 110px;
}

.news-category-container {
	margin: 0 auto;
}



/*Контакты*/

#contacts {
	height: auto;
	opacity: 0.8;
	padding: 0 0 0 238px;
	width: 1021px;
}

#contacts-head {
	padding: 46px 0 0 63px;
	width: auto;
	height: 200px;
	background: url("/img/logo-for-background.png") repeat scroll 15px 10px;
}

#contacts h1 {
	font-family: PF	Agora Sans Thin;
	font-size: 39px;
	color: #fff;
	margin-bottom: 26px;
}

#contacts span {
	color: #ececec;
	font-size: 16px;
	font-family: PF	Agora Sans;	
	line-height: 23px;
}

#myModal {
	display: none;
}

/*Custom bootstrap*/
a {
	outline: none !important;
}